.subtitulo {
    padding: 10px;
    background-color: aquamarine;
}
html, body {
    margin: 0;
}
.titulo {
    background-color: lightsteelblue;
    padding: 10px;
    text-align: center;
    border-radius: 10px 10px 0 0;
}
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(46, 45, 44);
    font-size:larger;
}

input, select {
    border-width: 2;
    border-color: orange;
    border-style: solid;
    border-radius: 8px;
    padding: 5px;
}
.fondo {
    background-image: url(img/fondo.jpg);
    position: absolute;
    width: 100%;
    height: 300px;
    z-index: -1;
}
table {
    color: white;
    text-align: center;
    background-color: rgba(195, 184, 168, 0.155);
}
td {
    padding: 5px;
}
.container-md {
    max-width: 890px;
    margin: auto;
}
.header h1 {
    color: rgb(69, 68, 66);
    text-shadow: 1px 1px 1px #fff;
    background-color: rgba(97, 73, 1, 0.2);
}
.pa-2 {
    padding: 2px;
}
.row {
    display: flex;
}
.dev {
    font-weight: bold;
    color: rgb(45, 63, 18);
    text-shadow: 1px 1px 1px #3b3b3b79;
}
.header {
    background-color: rgb(125, 157, 60);
    padding: 10px;
}
.container {
    max-width: 550px;
    margin: auto;
}
.text-white {
    color: #fff;
}
.title {
    color: antiquewhite;
}
.card {
    background-color: #ffffffbe;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    box-shadow: 3px 3px 3px #000;
    margin: 0px 20px;
}